<!-- Used to display the session content -->
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VSEAT</title>
    <!-- CSS Files -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-md" id="employee">
        <!-- Logo -->
        <a class="navbar-brand" asp-area="" asp-controller="Employee" asp-action="Index"><img src="~/images/vseatwhite.png" class="navlogo" /></a>

        <div class="collapse navbar-collapse" id="collapsibleNavbar"></div>

        <!-- Navigation on the right side -->
        <div style="margin-top: 20px;">
            <div style="float: right;">
                <a class="navbar-cart" asp-area="" asp-controller="Login" asp-action="Logout"><i class="fa fa-sign-out" id="employee" style="margin-left: 15px;"></i></a>
            </div>
            <br />
            <p style="float: right; margin-top: 5px; color: white">Driver:&nbsp;<b>@HttpContextAccessor.HttpContext.Session.GetString("_NameEmployee")</b></p>
        </div>
    </nav>

    <div class="container py-5">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
