/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

img.navlogo {
    height: 50px;
}


/* Provide sufficient contrast against white background */
a {
  color: #ff0000;
}

.btn-primary {
    margin-top: 20px;
    color: #ff0000;
    background-color: white;
    border-color: #ff0000;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:visited, .btn-primary::before {
    background-color: #ff0000;
    border-color: #ff0000;
    color: white;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #ffffff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html, body {
    height: 100%;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* NAVBAR
-------------------------------------------------- */
.navbar { 
  height: 80px;
  border-bottom: 2px solid #EEEEEE;
}

nav#employee.navbar {
    height: 80px;
    background-color: #ff0000;
}

.nav-item {
  color: white;
}

a.nav-link {
    color: #ff0000;
    font-weight: 800;
    font-size: 14px;
    padding: 10px;
    margin-right: 25px;
}

a.navbar-cart {
    
}

i.fa {
    background: #ff0000;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    width: 35px;
}

a#employee.details {
    background: #ffffff;
    color: #ff0000;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    width: 35px;
}

i#employee.fa {
    background: #ffffff;
    color: #ff0000;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    width: 35px;
}


/* LOGIN FORM
-------------------------------------------------- */
#typeEmail.form-control {
    border: 1px solid #EEEEEE;
    padding: 20px;
}
.card {
    border-radius: 1rem;
    box-shadow: none;
    border: 2px solid #EEEEEE;
    color: #000000;
    font-weight: bold;
}

.form-control {
    font-size: 15px;
    font-weight: 500;
    color: black;
    padding: 20px 15px;
}

img.logo {
    margin-bottom: 25px;
    width: 180px;
}

.mb-md-5.mt-md-4.pb-5 {
    margin-bottom: 0rem !important;
}

a.signup {
    color: #ff0000;
}

.card.mb-3 {
    height: 300px;
    width: 100%;
}

div#employee.card.mb-3 {
    width: 100%;
    height: auto;
}

img.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 50%;
    object-fit: cover;
}

.table td{
    vertical-align: middle
}

.btn.btn-primary.table{
    border: none;
    margin-bottom: 0px;
    margin-top: 0px;
    background: none;
    width: auto;
}

input.time {
    width: 50%;
    border: 1px solid #EEEEEE;
    padding: 7px;
    border-radius: 0.25rem;
}

#confirmation.form-group {
    margin-top: 50px;
}

#btnconfirmation.btn.btn-primary {
    margin-top: 0px;
}

table#dishes.table td, #dishes.table th {
    width: 16%;
}

img#thankyou {
    width: 20%;
}

div#thankyou.col-md-12 {
    text-align: center;
}

h1#thankyou {
    margin-bottom: 30px;
}

table#thankyou {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}