@model IEnumerable<DTO.Orders>

@{
    ViewData["Title"] = "Profile";
}

@if (Model == null)
{
    <div class="col-md-12">
        <h1>No Open Orders</h1>

        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">
                        Order Time
                    </th>
                    <th scope="col">
                        Delivery Time
                    </th>
                    <th scope="col">
                        Total Price
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}
else
{
<div class="col-md-12">
    <h1>Open Orders</h1>

    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">
                    Order Time
                </th>
                <th scope="col">
                    Delivery Time
                </th>
                <th scope="col">
                    Total Price
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.OrderTime.ToString("g")
                    </td>
                    <td>
                        @item.DeliveryTime.ToString("g")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    <td>
                        <!-- You can delete the order only if it is more than three hours away, otherwise the button is not clickable. -->
                        <form asp-action="DeleteOrder">
                            <input value="@Html.DisplayFor(modelItem => item.IdOrders)" name="OrderID" type="hidden" />
                            @if (item.DeliveryTime > DateTime.Now.AddHours(3))
                            {
                                <button style="font-size:15px" class="btn btn-primary table"><i class="fa fa-trash"></i></button>
                            }
                            else
                            {
                                <button style="font-size:15px" title="You can only Delete Orders 3 hours" class="btn btn-primary table" disabled><i class="fa fa-trash"></i></button>
                            }
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
}
