@model IEnumerable<DTO.Orders>

@{
    ViewData["Title"] = "Profile";
}

@if (Model == null)
{
    <div class="col-md-12">
        <h1>No Open Orders</h1>

        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">
                        Quantity
                    </th>
                    <th scope="col">
                        Dish Name
                    </th>
                    <th scope="col">
                        Price per dish
                    </th>
                    <th scope="col">
                        Price total
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="quantity">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="total">
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>
            <tfoot class="tfoot-light">
                <tr>
                    <td>Summe: </td>
                    <td></td>
                    <td></td>
                    <td id="sum"></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
}
else
{
<div class="col-md-12">
    <h1>Open Orders</h1>

    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">
                    Order Time
                </th>
                <th scope="col">
                    Delivery Time
                </th>
                <th scope="col">
                    Total Price
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.OrderTime.ToString("HH:mm")
                    </td>
                    <td>
                        @item.DeliveryTime.ToString("HH:mm")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    <td>
                        <form asp-action="DeleteOrder">
                            <input value="@Html.DisplayFor(modelItem => item.idOrders)" name="OrderID" type="hidden" />
                            @if (item.DeliveryTime > DateTime.Now.AddHours(3))
                            {
                                <button style="font-size:15px" class="btn btn-primary table"><i class="fa fa-trash"></i></button>
                            }
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
}
